Source: abroot
Section: devel
Priority: extra
Maintainer: Mirko Brombin <send@mirko.pm>
Uploaders: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go
Standards-Version: 3.9.6
Homepage: https://github.com/vanilla-os/ABRoot
Vcs-Browser: https://github.com/vanilla-os/ABRoot
Vcs-Git: git://github.com/vanilla-os/ABRoot.git

Package: abroot
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: On-demand immutability for Vanilla OS.